* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background: url(../images/heart.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
}

.header h1 {
  color: rgb(159, 42, 218);
  border-bottom: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 15px;
}

.middle {
  margin-top: 150px;
}

.calc {
  padding: 10px 16px;
  background-color: rgb(62, 210, 69);
  border-radius: 30px;
  border: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.calc:hover {
  background-color: rgb(255, 13, 0);
}

.one h2,
.two h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.one h2,
.two h2 {
  color: rgb(162, 251, 45);
}

.one input,
.two input {
  border-radius: 8px;
  border: none;
  padding: 2px 8px;
}
