* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header h1 {
  color: rgb(236, 50, 81);
}

.main {
  background-color: rgb(237, 171, 171);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border: 1px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: aqua;
  min-height: 50vh;
  width: 100%;
  gap: 30px;
}

.middle {
  margin-top: 150px;
}
