* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header h1 {
  color: rgb(236, 50, 81);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 15px;
}

.middle {
  margin-top: 150px;
}

.calc {
  padding: 10px 16px;
  background-color: rgb(62, 210, 69);
  border-radius: 30px;
  border: none;
  font-size: 15px;
  color: white;
}

.one h2,
.two h2 {
  margin-bottom: 10px;
}

.one h2 {
  color: rgb(47, 151, 226);
}

.two h2 {
  color: rgb(255, 0, 238);
}

.one input,
.two input {
  border-radius: 8px;
  border: 1px solid black;
  padding: 2px 2px;
}
